In [1]:
#number 1 question
A=[2,3,4,5] #I made up values to test if the '.extend()' method gives the required output
B=[3,4,5,7]
A_B=A.extend(B)
print(A_B)

None

In [2]:
A_B=A.append(B)
print(A_B)

None

In [3]:
#number 2 question
np.identity(3)

NameError: name 'np' is not defined

In [4]:
#this doesn't work
np.array[(1,0,0),(0,1,0),(0,0,1)]

NameError: name 'np' is not defined

In [5]:
#so does this
np.array([1,0,0],[0,1,0],[0,0,1])

NameError: name 'np' is not defined

In [6]:
#and this
eye(3)

NameError: name 'eye' is not defined

# FOR THE DATABASE

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
#importing data
data="https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
energy=pd.read_csv(data)
energy.head(5)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [9]:
#Cleaning the data
#To see all the information on the data
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [10]:
energy.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_2010_12_145_0_11,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [11]:
#to see how many years are reported
energy.report_year.unique()

array([1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018], dtype=int64)

In [12]:
#To find out if the fuel type codes
energy.fuel_type_code_pudl.unique()

array(['coal', 'gas', 'nuclear', 'oil', 'waste', 'other'], dtype=object)

In [13]:
#grouping the data by their fuel type code and sum the for each year
fuel_data=pd.DataFrame(energy.groupby(['fuel_type_code_pudl','report_year'])[['fuel_qty_burned','fuel_mmbtu_per_unit','fuel_cost_per_unit_burned','fuel_cost_per_unit_delivered','fuel_cost_per_mmbtu']].sum())
fuel_data

                                 fuel_qty_burned  fuel_mmbtu_per_unit  \
fuel_type_code_pudl report_year
coal                1994            7.172082e+08         10293.429297
                    1995            1.257398e+09         10262.019015
                    1996            6.988514e+08          9269.878000
                    1997            8.169024e+08          9000.095755
                    1998            8.982095e+08          9212.781694
                    1999            8.805301e+08          9052.256583
                    2000            8.620492e+08          8584.171000
                    2001            8.564316e+08          7574.081578
                    2002            8.144357e+08          6967.923735
                    2003            8.018815e+08          6906.303079
                    2004            7.735318e+08          6677.321225
                    2005            6.046304e+08          6712.699417
                    2006            6.002375e+08          6770.056762
                    2007            6.131788e+08          6806.668782
                    2008            5.752296e+08          6577.120958
                    2009            5.219981e+08          6466.146698
                    2010            5.931191e+08          6420.927249
                    2011            5.228667e+08          6535.775560
                    2012            4.833351e+08          6595.084441
                    2013            5.001244e+08          6478.798444
                    2014            4.571944e+08          5932.994198
                    2015            3.878417e+08          5300.479998
                    2016            3.804213e+08          4652.271091
                    2017            3.297659e+08          4343.490065
                    2018            3.216100e+08          4066.708564
gas                 1994            2.432212e+09           498.035534
                    1995            2.570880e+09           513.394734
                    1996            1.915218e+09           434.236843
                    1997            2.039925e+09           456.865725
                    1998            2.554651e+09           526.381050
...                                          ...                  ...
other               2012            3.006978e+06             0.167199
                    2013            4.387423e+06             0.152937
                    2014            5.187094e+06             0.001414
                    2015            5.416122e+06             0.001411
                    2016            2.763596e+06             0.001410
waste               1994            1.242241e+06             0.577288
                    1995            1.642051e+06             0.337080
                    1996            1.102632e+06             0.364899
                    1997            1.528774e+06             0.382760
                    1998            1.624599e+06             0.221197
                    1999            1.108979e+06             0.186733
                    2000            1.271108e+06             0.152991
                    2001            1.361951e+06             0.160667
                    2002            1.394020e+06             8.665753
                    2003            1.082223e+06             8.818894
                    2004            1.110020e+06             8.667558
                    2005            1.605762e+06             8.653393
                    2006            1.828512e+06             8.685188
                    2007            2.153725e+06             8.676567
                    2008            2.147651e+06             8.663653
                    2009            2.139046e+06             8.700041
                    2010            2.423293e+06             8.675162
                    2011            2.169002e+06             8.662519
                    2012            2.064520e+06             8.762649
                    2013            2.723547e+06             8.775048
                    2014            3.607257e+06             8.715213
                    2015            3.737472e+06             8.738479
                    2016            3.782403e+06             8.828807
                    2017            3.534230e+06             8.686320
                    2018            3.296373e+06             8.693921

                                 fuel_cost_per_unit_burned  \
fuel_type_code_pudl report_year
coal                1994                         14984.572
                    1995                         14571.785
                    1996                         12694.803
                    1997                         43742.178
                    1998                         11902.597
                    1999                         16303.468
                    2000                        100428.831
                    2001                         15109.012
                    2002                          9171.164
                    2003                         30954.110
                    2004                          9632.063
                    2005                         11107.182
                    2006                         12402.684
                    2007                         12965.171
                    2008                         14331.348
                    2009                         45554.858
                    2010                         88627.745
                    2011                         17001.015
                    2012                         17546.097
                    2013                         17629.860
                    2014                         15412.197
                    2015                         13338.235
                    2016                         11100.925
                    2017                         10254.284
                    2018                          9488.197
gas                 1994                         10792.496
                    1995                          9087.905
                    1996                          1467.390
                    1997                          1518.471
                    1998                          7475.596
...                                                    ...
other               2012                           224.123
                    2013                           182.494
                    2014                             0.661
                    2015                             0.595
                    2016                             0.609
waste               1994                            52.762
                    1995                          -192.699
                    1996                            88.092
                    1997                           137.433
                    1998                           238.109
                    1999                           143.025
                    2000                          -489.141
                    2001                           217.499
                    2002                           254.438
                    2003                           161.973
                    2004                           272.512
                    2005                           313.457
                    2006                           423.847
                    2007                           427.014
                    2008                           474.022
                    2009                           739.884
                    2010                           755.157
                    2011                           517.912
                    2012                           589.791
                    2013                           609.411
                    2014                           591.594
                    2015                           629.270
                    2016                           539.079
                    2017                           452.079
                    2018                           660.972

                                 fuel_cost_per_unit_delivered  \
fuel_type_code_pudl report_year
coal                1994                            59215.371
                    1995                            13704.146
                    1996                            12087.581
                    1997                            11308.641
                    1998                           308602.749
                    1999                            14774.389
                    2000                            69796.564
                    2001                            14209.655
                    2002                             8667.629
                    2003                             8791.737
                    2004                             9174.146
                    2005                            10666.724
                    2006                            11564.840
                    2007                            12011.237
                    2008                            13707.916
                    2009                            14525.653
                    2010                            58305.055
                    2011                            16047.700
                    2012                            16473.907
                    2013                            16184.979
                    2014                            14446.172
                    2015                            12103.496
                    2016                            10120.573
                    2017                             9037.849
                    2018                           254052.695
gas                 1994                             8099.070
                    1995                             6579.786
                    1996                             1315.040
                    1997                             5378.348
                    1998                             4692.188
...                                                       ...
other               2012                              221.755
                    2013                               49.904
                    2014                                0.661
                    2015                                0.595
                    2016                                0.609
waste               1994                               52.615
                    1995                             -189.427
                    1996                               80.826
                    1997                              134.873
                    1998                              238.204
                    1999                              118.775
                    2000                             -425.717
                    2001                              212.639
                    2002                              250.101
                    2003                              155.604
                    2004                              165.276
                    2005                              271.067
                    2006                              396.147
                    2007                              398.654
                    2008                              461.130
                    2009                              689.975
                    2010                              754.302
                    2011                              560.935
                    2012                              575.138
                    2013                              645.554
                    2014                              545.293
                    2015                              591.380
                    2016                              504.245
                    2017                              417.818
                    2018                              514.749

                                 fuel_cost_per_mmbtu
fuel_type_code_pudl report_year
coal                1994                   682.14697
                    1995                   663.74149
                    1996                   581.57661
                    1997                   551.68662
                    1998                   557.06574
                    1999                   540.98716
                    2000                   506.31631
                    2001                   474.98225
                    2002                   442.40938
                    2003                   439.63376
                    2004                   455.36301
                    2005                   521.97182
                    2006                   580.23002
                    2007                   609.17779
                    2008                   683.60135
                    2009                   738.17690
                    2010                   738.44617
                    2011                   812.55793
                    2012                   845.89671
                    2013                   845.00928
                    2014                   754.22280
                    2015                   669.65187
                    2016                   571.56333
                    2017                   522.20423
                    2018                   486.49567
gas                 1994                  1368.51941
                    1995                  1215.67299
                    1996                  1317.92815
                    1997                  1500.72369
                    1998                  1497.21333
...                                              ...
other               2012                    26.89900
                    2013                    25.18500
                    2014                     0.46700
                    2015                     0.42100
                    2016                     0.43200
waste               1994                   450.02700
                    1995                   602.93300
                    1996                   -25.49100
                    1997                    13.98700
                    1998                    15.18400
                    1999                    12.21300
                    2000                   -15.23100
                    2001                     9.62200
                    2002                    10.38800
                    2003                     6.98100
                    2004                     9.84700
                    2005                    13.85400
                    2006                    21.92000
                    2007                    23.17100
                    2008                    25.27600
                    2009                    45.16600
                    2010                   267.85000
                    2011                   225.89400
                    2012                    32.86900
                    2013                   277.03400
                    2014                   343.82900
                    2015                   391.21400
                    2016                   429.59900
                    2017                359311.75300
                    2018                   315.19300

[148 rows x 5 columns]

In [14]:
#Further simplifying the data
new_energy=energy[["fuel_qty_burned","fuel_mmbtu_per_unit","fuel_cost_per_unit_burned","fuel_cost_per_unit_delivered","fuel_cost_per_mmbtu"]]
new_energy

,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,5377489.0,16.590000,18.590,18.530,1.121
1,10486945.0,16.592000,18.580,18.530,1.120
2,2978683.0,24.130000,39.720,38.120,1.650
3,3739484.0,23.950000,47.210,45.990,1.970
4,40533.0,1.000000,2.770,2.770,2.570
5,2124933.0,23.922000,44.240,43.250,1.850
6,2260.0,0.064094,28.770,0.000,0.450
7,5372133.0,24.840000,58.540,55.130,2.360
8,817520.0,24.290000,33.970,34.650,1.400
9,1471233.0,22.484000,28.730,28.110,1.278
10,262720.0,1.026000,1.940,1.940,13.900
11,476779.0,22.428000,28.710,28.110,1.280
12,6673.0,1.026000,1.940,1.940,1.900
13,1655558.0,25.038000,30.248,29.019,1.208
14,6510.0,5.875338,32.130,23.444,5.469
15,3520831.0,24.508000,44.404,42.915,1.812
16,5327281.0,24.538000,44.312,42.940,1.806
17,666975.0,25.836000,36.268,32.893,1.404
18,391864.0,25.160000,46.024,42.034,1.829
19,3505.0,5.774958,33.321,26.280,5.770
20,2837040.0,24.526000,39.911,38.717,1.627
21,50013.0,5.845644,30.319,23.884,5.187
22,383043.0,24.334000,39.850,35.856,1.638
23,13969.0,5.742870,32.184,30.508,5.604
24,1338459.0,24.334000,40.144,35.793,1.650
25,48750.0,5.742828,32.186,30.507,5.605
26,2062799.0,19.970000,31.520,31.200,1.580
27,10088.0,5.851020,32.650,28.730,5.580
28,38086.0,0.880901,2.490,2.480,2.820
29,2599962.0,17.530000,21.170,20.860,1.210
...,...,...,...,...,...
29493,25325.0,1.033011,6.462,6.462,6.255
29494,2073725.0,1.038883,4.462,4.462,4.295
29495,10030.0,5.846053,94.777,94.900,16.212
29496,2461276.0,1.026999,2.328,2.328,2.267
29497,5853049.0,1.045818,3.681,3.681,3.520
29498,170018.0,1.019451,4.536,4.536,4.450
29499,527.0,5.816407,102.110,0.000,17.556
29500,36.0,5.795044,102.488,0.000,17.685
29501,4189920.0,16.673825,29.799,29.970,1.787
29502,19764.0,5.835849,88.553,101.010,15.174
29503,1761218.0,17.888320,26.775,27.392,1.497
29504,88846.0,1.031133,6.274,6.274,6.084
29505,81.0,5.694696,101.330,101.330,17.790
29506,133.0,5.756940,95.530,95.530,16.590
29507,320.0,5.719602,98.180,98.150,17.160
29508,2154971.0,1.130000,255.000,3.780,3.350
29509,162132.0,1.130000,2.460,3.970,3.510
29510,569800.0,16.110000,14.760,0.810,1.130
29511,613882.0,1.050000,3.520,3.520,3.360
29512,19655.0,1.050000,8.910,8.910,8.480
29513,39679.0,1.059000,5.680,5.680,5.360
29514,487.0,5.831070,0.000,0.000,9.970
29515,18370.0,1.059000,8.330,8.330,15.930
29516,491913.0,16.100000,14.760,17.720,1.100
29517,409637.0,16.068000,13.690,14.310,0.890
29518,18799.0,1.059000,4.780,4.780,9.030
29519,806730.0,1.050000,3.650,3.650,6.950
29520,104554.0,1.060000,4.770,4.770,8.990
29521,315945.0,16.108000,3.060,14.760,1.110
29522,17853.0,1.059000,0.000,0.000,11.680

### HIGHEST AVERAGE FUEL COST PER UNIT DELIVERED

In [15]:
#average fuel cost per unit delivered
fuel_avg=pd.DataFrame(energy.groupby(['report_year'])[['fuel_cost_per_unit_delivered']].mean())
fuel_avg

             fuel_cost_per_unit_delivered
report_year
1994                            63.636060
1995                            32.735269
1996                          9196.705948
1997                         11140.197239
1998                           287.154420
1999                            25.551627
2000                           985.362877
2001                            60.050396
2002                            47.594361
2003                            55.663493
2004                           139.524275
2005                            41.438184
2006                            38.657484
2007                            43.325023
2008                            58.588197
2009                           652.694163
2010                            91.862105
2011                            59.774667
2012                            60.994502
2013                           172.307591
2014                           192.737183
2015                           326.535511
2016                           103.901761
2017                            46.196861
2018                           499.269966

##### From the above, the highest average fuel cost per unit delivered is for the year 1997

### STANDARD VARIATION AND PERCENTILE

In [16]:
#To find standard variation for fuel mmbtu per unit
standard_variation=new_energy["fuel_mmbtu_per_unit"].std()
standard_variation

10.600220307806714

In [17]:
#To find percentile for fuel mmbtu per unit
percent_ile = np.percentile(new_energy["fuel_mmbtu_per_unit"], q=[75])
percent_ile

array([17.006])

##### From the above, the standard variation to 2dp is 10.60 while the percentile to 2dp is 17.01

### SKEWNESS AND KURTOSIS

In [18]:
#To find skewness for fuel quantity burned
skewness=new_energy["fuel_qty_burned"].skew(axis = 0, skipna = True)
skewness

15.851495469109503

In [19]:
#to find kurtosis for fuel quantity burned
kurt=new_energy["fuel_qty_burned"].kurtosis()
kurt

651.3694501337732

##### From the above, the skewness and kurtosis to 2dp is 15.85 and 651.37 respectively

### MISSING VALUE PERCENTAGE

In [20]:
#Checking for missing values
energy_missing=energy.isna().sum()
energy_missing

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [21]:
len(energy)

29523

In [22]:
percentage_missing= (energy_missing/len(energy))*100
percentage_missing

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.609694
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

##### From the above, we can see that the percentage of missing data is 0.61% in "fuel unit" which is a categorical column. The missing values can be filled using mode computation method

### 2nd and 3rd LOWEST CORRELATION OF FUEL COST PER UNIT BURNED

In [23]:
#finding correlation
correlation = new_energy.corr()
correlation

,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_qty_burned,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

##### From the above, we can see that the 2nd and 3rd lowest correlation is fuel cost per unit delivered and fuel qty burned

### PERCENTAGE CHANGE IN FUEL COST PER UNIT BURNED FOR THE YEAR 1994 and 1998

In [24]:
#extracting values for year 1994
change=energy[energy['report_year'] == 1994]
change

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.590,18.530,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.580,18.530,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.720,38.120,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.210,45.990,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000000,2.770,2.770,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922000,44.240,43.250,1.850
6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260.0,0.064094,28.770,0.000,0.450
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133.0,24.840000,58.540,55.130,2.360
8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520.0,24.290000,33.970,34.650,1.400
9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233.0,22.484000,28.730,28.110,1.278
10,f1_fuel_1994_12_4_0_2,4,1994,units 1-3,gas,mcf,262720.0,1.026000,1.940,1.940,13.900
11,f1_fuel_1994_12_4_0_4,4,1994,unit 4,coal,ton,476779.0,22.428000,28.710,28.110,1.280
12,f1_fuel_1994_12_4_0_5,4,1994,unit 4,gas,mcf,6673.0,1.026000,1.940,1.940,1.900
13,f1_fuel_1994_12_6_0_1,6,1994,clinch river,coal,ton,1655558.0,25.038000,30.248,29.019,1.208
14,f1_fuel_1994_12_6_0_2,6,1994,clinch river,oil,bbl,6510.0,5.875338,32.130,23.444,5.469
15,f1_fuel_1994_12_6_0_4,6,1994,amos-apco share,coal,ton,3520831.0,24.508000,44.404,42.915,1.812
16,f1_fuel_1994_12_6_0_7,6,1994,amos-total,coal,ton,5327281.0,24.538000,44.312,42.940,1.806
17,f1_fuel_1994_12_6_0_10,6,1994,glen lyn,coal,ton,666975.0,25.836000,36.268,32.893,1.404
18,f1_fuel_1994_12_6_0_13,6,1994,kanawha river,coal,ton,391864.0,25.160000,46.024,42.034,1.829
19,f1_fuel_1994_12_6_0_14,6,1994,kanawha river,oil,bbl,3505.0,5.774958,33.321,26.280,5.770
20,f1_fuel_1994_12_6_1_7,6,1994,mountainr,coal,ton,2837040.0,24.526000,39.911,38.717,1.627
21,f1_fuel_1994_12_6_1_8,6,1994,mountainr,oil,bbl,50013.0,5.845644,30.319,23.884,5.187
22,f1_fuel_1994_12_6_1_10,6,1994,philip sporn-apco,coal,ton,383043.0,24.334000,39.850,35.856,1.638
23,f1_fuel_1994_12_6_1_11,6,1994,philip sporn-apco,oil,bbl,13969.0,5.742870,32.184,30.508,5.604
24,f1_fuel_1994_12_6_1_13,6,1994,philip sporn ttl plt,coal,ton,1338459.0,24.334000,40.144,35.793,1.650
25,f1_fuel_1994_12_6_1_14,6,1994,philip sporn ttl plt,oil,bbl,48750.0,5.742828,32.186,30.507,5.605
26,f1_fuel_1994_12_7_0_1,7,1994,"cholla units 1,2,3",coal,ton,2062799.0,19.970000,31.520,31.200,1.580
27,f1_fuel_1994_12_7_0_2,7,1994,"cholla units 1,2,3",oil,bbl,10088.0,5.851020,32.650,28.730,5.580
28,f1_fuel_1994_12_7_0_3,7,1994,"cholla units 1,2,3",gas,mcf,38086.0,0.880901,2.490,2.480,2.820
29,f1_fuel_1994_12_7_0_7,7,1994,4 corners,coal,ton,2599962.0,17.530000,21.170,20.860,1.210
...,...,...,...,...,...,...,...,...,...,...,...
1205,f1_fuel_1994_12_57_3_14,57,1994,hatch,nuclear,gramsU,944345.0,62.890319,20.910,20.910,0.660
1206,f1_fuel_1994_12_57_4_2,57,1994,vogtle,nuclear,gramsU,1322869.0,65.498198,35.840,35.840,0.720
1207,f1_fuel_1994_12_41_0_1,41,1994,campbell 1 & 2,coal,ton,1278004.0,25.986000,41.560,41.580,1.640
1208,f1_fuel_1994_12_41_0_4,41,1994,cobb 4-5,coal,ton,773410.0,25.216000,31.560,30.360,1.500
1209,f1_fuel_1994_12_41_0_5,41,1994,cobb 4-5,gas,mcf,94937.0,1.000000,4.670,4.670,4.620
1210,f1_fuel_1994_12_41_0_7,41,1994,whiting,coal,ton,803765.0,26.456000,36.180,36.460,1.460
1211,f1_fuel_1994_12_41_0_10,41,1994,karn 1 & 2,coal,ton,1164426.0,25.590000,34.150,34.140,1.500
1212,f1_fuel_1994_12_41_0_14,41,1994,karn 3 & 4,gas,mcf,1035433.0,1.000000,2.500,2.500,2.410
1213,f1_fuel_1994_12_41_1_1,41,1994,weadock 7&8,coal,ton,740256.0,25.612000,33.420,32.620,1.490
1214,f1_fuel_1994_12_41_1_10,41,1994,* campbell 3,coal,ton,1805521.0,24.244000,38.260,37.700,1.680
1215,f1_fuel_1994_12_41_1_11,41,1994,* campbell 3,oil,bbl,10312.0,5.838000,20.800,21.990,6.240
1216,f1_fuel_1994_12_41_2_3,41,1994,weadock,gas,mcf,8934.0,1.010667,3.902,3.902,3.861
1217,f1_fuel_1994_12_41_2_6,41,1994,thetford,gas,mcf,118671.0,0.997945,3.621,3.621,3.629
1218,f1_fuel_1994_12_41_2_12,41,1994,morrow,gas,mcf,16578.0,1.034280,3.805,3.805,3.679
1219,f1_fuel_1994_12_41_2_15,41,1994,gaylord,gas,mcf,70995.0,1.000000,6.661,6.661,6.661
1220,f1_fuel_1994_12_41_3_3,41,1994,straits,gas,mcf,3221.0,1.000000,5.833,5.833,5.833
1221,f1_fuel_1994_12_45_0_1,45,1994,belews creek,coal,ton,4886085.0,24.480000,39.560,39.440,1.616
1222,f1_fuel_1994_12_45_0_4,45,1994,marshall,coal,ton,4172782.0,24.888000,40.990,41.700,1.647
1223,f1_fuel_1994_12_45_0_7,45,1994,allen,coal,ton,1403913.0,24.784000,44.620,46.300,1.800
1224,f1_fuel_1994_12_45_0_10,45,1994,lee,coal,ton,228247.0,25.204000,37.780,45.760,1.499
1225,f1_fuel_1994_12_45_0_12,45,1994,lee,oil,bbl,7400.0,5.812254,36.040,22.680,6.201
1226,f1_fuel_1994_12_45_0_13,45,1994,lee,gas,mcf,49443.0,1.034000,3.653,3.653,3.658
1227,f1_fuel_1994_12_45_1_1,45,1994,dan river,coal,ton,165067.0,24.704000,38.230,38.560,1.548
1228,f1_fuel_1994_12_45_1_4,45,1994,dan river,gas,mcf,40049.0,1.034000,3.531,3.531,3.453
1229,f1_fuel_1994_12_45_1_7,45,1994,cliffside,coal,ton,862674.0,25.078000,40.970,41.000,1.634
1230,f1_fuel_1994_12_45_1_10,45,1994,riverbend,coal,ton,396121.0,24.952000,39.950,43.700,1.601
1231,f1_fuel_1994_12_45_1_13,45,1994,riverbend,gas,mcf,56258.0,1.036000,3.911,3.911,3.796
1232,f1_fuel_1994_12_45_2_1,45,1994,buck,coal,ton,205382.0,24.706000,39.190,39.370,1.586
1233,f1_fuel_1994_12_45_2_4,45,1994,buck,gas,mcf,58828.0,1.034000,3.462,3.462,3.421
1234,f1_fuel_1994_12_45_2_7,45,1994,buzz.roost,gas,mcf,92365.0,1.035000,3.790,3.790,3.685

In [25]:
#extracting values for year 1998
change2=energy[energy['report_year'] == 1998]
change2

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
4618,f1_fuel_1998_12_1_0_7,1,1998,rockport total aeg,coal,ton,4965881.0,17.198000,19.282,19.338,1.126
4619,f1_fuel_1998_12_1_0_10,1,1998,rockport total plant,coal,ton,10000938.0,17.196000,19.280,19.340,1.122
4620,f1_fuel_1998_12_4_0_1,4,1998,units 1 - 3,coal,ton,1974682.0,22.266000,26.550,26.540,1.190
4621,f1_fuel_1998_12_4_0_2,4,1998,units 1 - 3,gas,mcf,43048.0,1.031000,2.285,2.285,2.216
4622,f1_fuel_1998_12_4_0_4,4,1998,unit 4,coal,ton,385512.0,22.330000,26.550,26.540,1.190
4623,f1_fuel_1998_12_4_0_5,4,1998,unit 4,gas,mcf,49672.0,1.031000,2.188,2.188,2.113
4624,f1_fuel_1998_12_6_0_1,6,1998,clinch river,coal,ton,1834553.0,24.534000,30.936,30.013,1.261
4625,f1_fuel_1998_12_6_0_4,6,1998,amos-apco share,coal,ton,4373217.0,24.582000,36.398,35.367,1.481
4626,f1_fuel_1998_12_6_0_7,6,1998,amos-total,coal,ton,5884700.0,24.568000,36.283,35.329,1.477
4627,f1_fuel_1998_12_6_0_10,6,1998,glen lyn,coal,ton,730389.0,25.574000,34.581,33.429,1.352
4628,f1_fuel_1998_12_6_0_13,6,1998,kanawha river,coal,ton,1015696.0,24.558000,34.201,33.266,1.393
4629,f1_fuel_1998_12_6_0_14,6,1998,kanawha river,oil,bbl,3575.0,5.843460,31.081,25.394,5.319
4630,f1_fuel_1998_12_6_1_7,6,1998,mountaineer,coal,ton,2834354.0,24.324000,36.375,35.942,1.495
4631,f1_fuel_1998_12_6_1_10,6,1998,philip sporn-apco,coal,ton,786488.0,24.352000,31.219,30.873,1.282
4632,f1_fuel_1998_12_6_1_13,6,1998,philip sporn ttl p,coal,ton,2646652.0,24.352000,31.207,30.906,1.281
4633,f1_fuel_1998_12_7_0_1,7,1998,"cholla 1, 2, 3",coal,ton,2257120.0,19.418000,27.320,26.760,1.410
4634,f1_fuel_1998_12_7_0_2,7,1998,"cholla 1, 2, 3",oil,bbl,13595.0,5.840478,36.540,28.070,6.260
4635,f1_fuel_1998_12_7_0_3,7,1998,"cholla 1, 2, 3",gas,mcf,29646.0,0.879208,2.760,2.730,3.140
4636,f1_fuel_1998_12_7_0_7,7,1998,four corners,coal,ton,2379323.0,17.744000,17.500,17.010,0.990
4637,f1_fuel_1998_12_7_0_8,7,1998,four corners,gas,mcf,929044.0,1.008847,4.050,4.050,4.010
4638,f1_fuel_1998_12_7_0_10,7,1998,four corners,coal,ton,952695.0,17.732000,17.460,16.150,0.980
4639,f1_fuel_1998_12_7_0_11,7,1998,four corners,gas,mcf,46370.0,1.007832,5.300,5.300,5.260
4640,f1_fuel_1998_12_7_0_13,7,1998,ocotillo,gas,mcf,3804575.0,1.014863,2.620,2.600,2.580
4641,f1_fuel_1998_12_7_1_1,7,1998,saguaro,gas,mcf,2247791.0,1.017311,2.450,2.430,2.410
4642,f1_fuel_1998_12_7_1_10,7,1998,navajo,coal,ton,907810.0,21.954000,26.220,25.700,1.190
4643,f1_fuel_1998_12_7_1_11,7,1998,navajo,oil,bbl,5285.0,5.837790,30.060,30.060,5.150
4644,f1_fuel_1998_12_7_2_2,7,1998,yucca ct,gas,mcf,362265.0,1.010518,2.560,2.550,2.530
4645,f1_fuel_1998_12_7_2_7,7,1998,ocotillo ct,gas,mcf,545694.0,1.014223,2.570,2.560,2.540
4646,f1_fuel_1998_12_7_2_11,7,1998,west phoenix,gas,mcf,880778.0,1.014318,2.580,2.570,2.540
4647,f1_fuel_1998_12_7_2_13,7,1998,saguaro,oil,bbl,9952.0,5.875002,34.830,34.790,5.930
...,...,...,...,...,...,...,...,...,...,...,...
5695,f1_fuel_1998_12_138_0_15,138,1998,total martins creek,gas,mcf,2712500.0,1.015182,3.240,3.330,3.192
5696,f1_fuel_1998_12_138_1_1,138,1998,montour,coal,ton,3469006.0,24.994000,37.750,36.250,1.510
5697,f1_fuel_1998_12_138_1_4,138,1998,sunbury,coal,ton,1383543.0,21.404000,28.670,25.010,1.339
5698,f1_fuel_1998_12_138_1_10,138,1998,conemaugh (a),coal,ton,564543.0,25.122000,30.020,27.190,1.195
5699,f1_fuel_1998_12_138_1_12,138,1998,conemaugh (a),gas,mcf,18652.0,0.961881,4.400,4.400,4.573
5700,f1_fuel_1998_12_138_1_13,138,1998,keystone (a),coal,ton,625153.0,24.158000,32.460,31.880,1.344
5701,f1_fuel_1998_12_138_2_1,138,1998,holtwood,coal,ton,367960.0,18.970000,19.060,14.190,1.005
5702,f1_fuel_1998_12_145_0_1,145,1998,arapahoe,coal,ton,715108.0,17.810000,15.181,14.570,0.852
5703,f1_fuel_1998_12_145_0_3,145,1998,arapahoe,gas,mcf,1109082.0,0.988000,2.855,0.000,2.855
5704,f1_fuel_1998_12_145_0_4,145,1998,cameo,coal,ton,298035.0,21.958000,16.573,16.584,0.755
5705,f1_fuel_1998_12_145_0_6,145,1998,cameo,gas,mcf,13701.0,0.992000,4.049,0.000,4.081
5706,f1_fuel_1998_12_145_0_7,145,1998,cherokee,coal,ton,2181513.0,23.318000,21.638,21.518,0.928
5707,f1_fuel_1998_12_145_0_9,145,1998,cherokee,gas,mcf,423616.0,0.988000,3.308,0.000,3.348
5708,f1_fuel_1998_12_145_0_10,145,1998,comanche,coal,ton,2732360.0,17.134000,15.151,15.035,0.884
5709,f1_fuel_1998_12_145_0_12,145,1998,comanche,gas,mcf,90955.0,0.992000,2.694,0.000,2.718
5710,f1_fuel_1998_12_145_0_13,145,1998,craig,coal,ton,324689.0,20.058000,21.055,21.386,1.050
5711,f1_fuel_1998_12_145_0_15,145,1998,craig,gas,mcf,10214.0,1.092000,2.040,0.000,1.869
5712,f1_fuel_1998_12_145_1_1,145,1998,hayden,coal,ton,802459.0,21.092000,22.596,22.691,1.071
5713,f1_fuel_1998_12_145_1_3,145,1998,hayden,gas,mcf,14440.0,1.073000,3.976,0.000,3.707
5714,f1_fuel_1998_12_145_1_4,145,1998,pawnee,coal,ton,2104342.0,16.684000,14.035,13.596,0.842
5715,f1_fuel_1998_12_145_1_6,145,1998,pawnee,gas,mcf,138249.0,1.036000,3.145,0.000,3.037
5716,f1_fuel_1998_12_145_1_7,145,1998,valmont 5,coal,ton,592834.0,21.842000,24.875,25.128,1.139
5717,f1_fuel_1998_12_145_1_9,145,1998,valmont 5,gas,mcf,142411.0,0.987000,3.254,0.000,3.297
5718,f1_fuel_1998_12_145_1_12,145,1998,zuni,gas,mcf,693109.0,0.989000,2.485,0.000,2.513
5719,f1_fuel_1998_12_145_1_15,145,1998,alamosa,gas,mcf,202930.0,1.017000,1.595,0.000,1.569
5720,f1_fuel_1998_12_145_2_2,145,1998,fort lupton,oil,bbl,3206.0,5.427366,33.180,0.000,6.113
5721,f1_fuel_1998_12_145_2_3,145,1998,fort lupton,gas,mcf,439412.0,1.061000,2.509,0.000,2.364
5722,f1_fuel_1998_12_145_2_6,145,1998,fruita,gas,mcf,52091.0,0.991000,2.470,0.000,2.493
5723,f1_fuel_1998_12_145_2_9,145,1998,valmont 6,gas,mcf,347619.0,0.987000,2.413,0.000,2.445
5724,f1_fuel_1998_12_145_2_12,145,1998,fort st. vrain,gas,mcf,5034730.0,1.044000,2.384,0.000,2.282

In [26]:
#joining the two database together
fuel_change = pd.concat([change, change2])
fuel_change

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.590,18.530,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.580,18.530,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.720,38.120,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.210,45.990,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000000,2.770,2.770,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922000,44.240,43.250,1.850
6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260.0,0.064094,28.770,0.000,0.450
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133.0,24.840000,58.540,55.130,2.360
8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520.0,24.290000,33.970,34.650,1.400
9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233.0,22.484000,28.730,28.110,1.278
10,f1_fuel_1994_12_4_0_2,4,1994,units 1-3,gas,mcf,262720.0,1.026000,1.940,1.940,13.900
11,f1_fuel_1994_12_4_0_4,4,1994,unit 4,coal,ton,476779.0,22.428000,28.710,28.110,1.280
12,f1_fuel_1994_12_4_0_5,4,1994,unit 4,gas,mcf,6673.0,1.026000,1.940,1.940,1.900
13,f1_fuel_1994_12_6_0_1,6,1994,clinch river,coal,ton,1655558.0,25.038000,30.248,29.019,1.208
14,f1_fuel_1994_12_6_0_2,6,1994,clinch river,oil,bbl,6510.0,5.875338,32.130,23.444,5.469
15,f1_fuel_1994_12_6_0_4,6,1994,amos-apco share,coal,ton,3520831.0,24.508000,44.404,42.915,1.812
16,f1_fuel_1994_12_6_0_7,6,1994,amos-total,coal,ton,5327281.0,24.538000,44.312,42.940,1.806
17,f1_fuel_1994_12_6_0_10,6,1994,glen lyn,coal,ton,666975.0,25.836000,36.268,32.893,1.404
18,f1_fuel_1994_12_6_0_13,6,1994,kanawha river,coal,ton,391864.0,25.160000,46.024,42.034,1.829
19,f1_fuel_1994_12_6_0_14,6,1994,kanawha river,oil,bbl,3505.0,5.774958,33.321,26.280,5.770
20,f1_fuel_1994_12_6_1_7,6,1994,mountainr,coal,ton,2837040.0,24.526000,39.911,38.717,1.627
21,f1_fuel_1994_12_6_1_8,6,1994,mountainr,oil,bbl,50013.0,5.845644,30.319,23.884,5.187
22,f1_fuel_1994_12_6_1_10,6,1994,philip sporn-apco,coal,ton,383043.0,24.334000,39.850,35.856,1.638
23,f1_fuel_1994_12_6_1_11,6,1994,philip sporn-apco,oil,bbl,13969.0,5.742870,32.184,30.508,5.604
24,f1_fuel_1994_12_6_1_13,6,1994,philip sporn ttl plt,coal,ton,1338459.0,24.334000,40.144,35.793,1.650
25,f1_fuel_1994_12_6_1_14,6,1994,philip sporn ttl plt,oil,bbl,48750.0,5.742828,32.186,30.507,5.605
26,f1_fuel_1994_12_7_0_1,7,1994,"cholla units 1,2,3",coal,ton,2062799.0,19.970000,31.520,31.200,1.580
27,f1_fuel_1994_12_7_0_2,7,1994,"cholla units 1,2,3",oil,bbl,10088.0,5.851020,32.650,28.730,5.580
28,f1_fuel_1994_12_7_0_3,7,1994,"cholla units 1,2,3",gas,mcf,38086.0,0.880901,2.490,2.480,2.820
29,f1_fuel_1994_12_7_0_7,7,1994,4 corners,coal,ton,2599962.0,17.530000,21.170,20.860,1.210
...,...,...,...,...,...,...,...,...,...,...,...
5695,f1_fuel_1998_12_138_0_15,138,1998,total martins creek,gas,mcf,2712500.0,1.015182,3.240,3.330,3.192
5696,f1_fuel_1998_12_138_1_1,138,1998,montour,coal,ton,3469006.0,24.994000,37.750,36.250,1.510
5697,f1_fuel_1998_12_138_1_4,138,1998,sunbury,coal,ton,1383543.0,21.404000,28.670,25.010,1.339
5698,f1_fuel_1998_12_138_1_10,138,1998,conemaugh (a),coal,ton,564543.0,25.122000,30.020,27.190,1.195
5699,f1_fuel_1998_12_138_1_12,138,1998,conemaugh (a),gas,mcf,18652.0,0.961881,4.400,4.400,4.573
5700,f1_fuel_1998_12_138_1_13,138,1998,keystone (a),coal,ton,625153.0,24.158000,32.460,31.880,1.344
5701,f1_fuel_1998_12_138_2_1,138,1998,holtwood,coal,ton,367960.0,18.970000,19.060,14.190,1.005
5702,f1_fuel_1998_12_145_0_1,145,1998,arapahoe,coal,ton,715108.0,17.810000,15.181,14.570,0.852
5703,f1_fuel_1998_12_145_0_3,145,1998,arapahoe,gas,mcf,1109082.0,0.988000,2.855,0.000,2.855
5704,f1_fuel_1998_12_145_0_4,145,1998,cameo,coal,ton,298035.0,21.958000,16.573,16.584,0.755
5705,f1_fuel_1998_12_145_0_6,145,1998,cameo,gas,mcf,13701.0,0.992000,4.049,0.000,4.081
5706,f1_fuel_1998_12_145_0_7,145,1998,cherokee,coal,ton,2181513.0,23.318000,21.638,21.518,0.928
5707,f1_fuel_1998_12_145_0_9,145,1998,cherokee,gas,mcf,423616.0,0.988000,3.308,0.000,3.348
5708,f1_fuel_1998_12_145_0_10,145,1998,comanche,coal,ton,2732360.0,17.134000,15.151,15.035,0.884
5709,f1_fuel_1998_12_145_0_12,145,1998,comanche,gas,mcf,90955.0,0.992000,2.694,0.000,2.718
5710,f1_fuel_1998_12_145_0_13,145,1998,craig,coal,ton,324689.0,20.058000,21.055,21.386,1.050
5711,f1_fuel_1998_12_145_0_15,145,1998,craig,gas,mcf,10214.0,1.092000,2.040,0.000,1.869
5712,f1_fuel_1998_12_145_1_1,145,1998,hayden,coal,ton,802459.0,21.092000,22.596,22.691,1.071
5713,f1_fuel_1998_12_145_1_3,145,1998,hayden,gas,mcf,14440.0,1.073000,3.976,0.000,3.707
5714,f1_fuel_1998_12_145_1_4,145,1998,pawnee,coal,ton,2104342.0,16.684000,14.035,13.596,0.842
5715,f1_fuel_1998_12_145_1_6,145,1998,pawnee,gas,mcf,138249.0,1.036000,3.145,0.000,3.037
5716,f1_fuel_1998_12_145_1_7,145,1998,valmont 5,coal,ton,592834.0,21.842000,24.875,25.128,1.139
5717,f1_fuel_1998_12_145_1_9,145,1998,valmont 5,gas,mcf,142411.0,0.987000,3.254,0.000,3.297
5718,f1_fuel_1998_12_145_1_12,145,1998,zuni,gas,mcf,693109.0,0.989000,2.485,0.000,2.513
5719,f1_fuel_1998_12_145_1_15,145,1998,alamosa,gas,mcf,202930.0,1.017000,1.595,0.000,1.569
5720,f1_fuel_1998_12_145_2_2,145,1998,fort lupton,oil,bbl,3206.0,5.427366,33.180,0.000,6.113
5721,f1_fuel_1998_12_145_2_3,145,1998,fort lupton,gas,mcf,439412.0,1.061000,2.509,0.000,2.364
5722,f1_fuel_1998_12_145_2_6,145,1998,fruita,gas,mcf,52091.0,0.991000,2.470,0.000,2.493
5723,f1_fuel_1998_12_145_2_9,145,1998,valmont 6,gas,mcf,347619.0,0.987000,2.413,0.000,2.445
5724,f1_fuel_1998_12_145_2_12,145,1998,fort st. vrain,gas,mcf,5034730.0,1.044000,2.384,0.000,2.282

In [27]:
#grouping the fuel change database by report year
fuel=pd.DataFrame(fuel_change.groupby(['report_year'])[['fuel_cost_per_unit_burned']].sum())
fuel

             fuel_cost_per_unit_burned
report_year
1994                        263292.115
1998                        140238.656

In [28]:
#finding the percent change

fuel.pct_change()

             fuel_cost_per_unit_burned
report_year
1994                               NaN
1998                         -0.467365

#### From the above, the percent change for fuel cost per unit burned for the year 1994 and 1998 is -46.7%